/**
 * A howtv theme for reveal.js presentations, similar
 */
@import url(https://fonts.googleapis.com/css?family=News+Cycle:400,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);
/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: white;
  background-color: white; }

.reveal {
  font-family: "Lato", sans-serif;
  font-size: 36px;
  font-weight: normal;
  letter-spacing: -0.02em;
  color: #443333; }

::selection {
  color: white;
  background: rgba(0, 0, 0, 0.99);
  text-shadow: none; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0px 0px 60px 0px;
  color: #443333;
  font-family: "News Cycle", Impact, sans-serif;
  line-height: 130%;
  letter-spacing: 0.02em;
  text-transform: none;
  text-shadow: none; }

.reveal h1 {
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2); }

/*********************************************
 * LINKS
 *********************************************/
.reveal a:not(.image) {
  color: darkred;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  -ms-transition: color .15s ease;
  -o-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:not(.image):hover {
  color: #f10000;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #3f0000; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid #443333;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: darkred;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls div.navigate-left,
.reveal .controls div.navigate-left.enabled {
  border-right-color: darkred; }

.reveal .controls div.navigate-right,
.reveal .controls div.navigate-right.enabled {
  border-left-color: darkred; }

.reveal .controls div.navigate-up,
.reveal .controls div.navigate-up.enabled {
  border-bottom-color: darkred; }

.reveal .controls div.navigate-down,
.reveal .controls div.navigate-down.enabled {
  border-top-color: darkred; }

.reveal .controls div.navigate-left.enabled:hover {
  border-right-color: #f10000; }

.reveal .controls div.navigate-right.enabled:hover {
  border-left-color: #f10000; }

.reveal .controls div.navigate-up.enabled:hover {
  border-bottom-color: #f10000; }

.reveal .controls div.navigate-down.enabled:hover {
  border-top-color: #f10000; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2); }

.reveal .progress span {
  background: darkred;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -ms-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -o-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

/*********************************************
 * SLIDE NUMBER
 *********************************************/
.reveal .slide-number {
  color: darkred; }

.reveal {
  background-image: url("/img/slide_back.jpg");
  background-position: center bottom;
  background-repeat: no-repeat; }
  .reveal header {
    padding: 10px 0px 12px;
    position: absolute;
    width: 100%; }
    .reveal header h1.title {
      display: none;
      color: #F5F5F5;
      line-height: 25px;
      font-size: 18px;
      text-shadow: none;
      float: left;
      margin: 0px 0px 0px 20px; }
    .reveal header .logo {
      float: left;
      margin-left: 20px;
      line-height: 25px;
      font-size: 10px; }
      .reveal header .logo img {
        vertical-align: middle;
        line-height: 25px;
        max-height: 100%;
        max-width: 100%;
        width: 130px; }
  .reveal p, .reveal ul li {
    line-height: 160%; }
  .reveal .slides > section, .reveal .slides > section > section {
    padding-top: 0px; }
