.reveal .slides section h2 {
  padding-bottom: 10px;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin-bottom: 20px;
}

.reveal section img {
  border: 0;
  box-shadow: 0 0 0;
}

p.img-center,
p.img-center-full {
  margin: 0 auto;
  text-align: center;
}

.img-center-full img {
  width: 900px;
}

.reveal code {
  font-family: Inconsolata;
  font-size: 1.5em;
  line-height: 120%;
}
